<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>

<%- include('nav', {user: user}) %>
<body>    
  <section>
    <% if (user) {%>
      <h1><%= title %></h1>
      <h1>Welcome back <%= user.firstName %> <%= user.lastName %></h1>
      <p>Task Guide:</p>
      <ol>
        <li>Sign up for an account</li>
        <li>Log In with your newly created account</li>
        <li>Join the club by entering the secret passcode at the <a href="/clubhouse/join">clubhouse</a> (Hint: 123)</li>
        <li>Checkout messages from other members in the <a href="/clubhouse">club</a> </li>
        <li>Post a message in the club to chat with other members</li>
      </ol>
    <% } else { %>
      <h1><%= title %></h1>
      <p>Task Guide:</p>
      <ol>
        <li>Sign up for an account</li>
        <li>Log In with your newly created account</li>
        <li>Join the club by entering the secret passcode at the <a href="/clubhouse/join">clubhouse</a> (Hint: 123)</li>
        <li>Checkout messages from other members in the <a href="/clubhouse">club</a> </li>
        <li>Post a message in the club to chat with other members</li>
      </ol>
      <a href="/users/log-in">Log-In</a>
      <a href="/users/sign-up">Sign-Up</a>
    <%}%>
  </section>
</body>
</html>